@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brand";
  src: url("/fonts/brand/Brand.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
